@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Medium-desaturated-blue: hsl(235, 19%, 34%);
  --Dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

body {
  background: linear-gradient(to top, hsl(273, 30%, 15%), var(--Dark-blue));
  color: var(--White);
  font-size: 14px;
  text-align: center;
  min-height: 100vh;
}
