@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Dark-blue: hsl(235, 16%, 14%);
  --Very-dark-blue: hsl(234, 17%, 12%);
}

body {
  background: linear-gradient(to top, var(--Dark-blue), var(--Very-dark-blue));
  color: var(--White);
  font-size: 14px;
  text-align: center;
  min-height: 100vh;
}
#block-type {
  color: hsl(237, 18%, 59%);
  font-size: 8px;
}

#upper-half {
  animation: upper-rotate 0.5s linear forwards;
}

@keyframes upper-rotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

#lower-half {
  transform: rotateX(90deg);
  animation: lower-rotate 0.5s linear;
  animation-delay: 0.5s;
}

@keyframes lower-rotate {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
